body {
	background-color: white;
}
h1 {
	color:black
}


.row-top{
	background-color: red;
	width:  100%;
}



ul{
    list-style: none;
    width: 100%;
    margin: 0 auto;
    text-align: left;
}

ul li{
    border-bottom: 1px solid black;
    padding: 0px;
    overflow: hidden;
    text-align: left;
}

ul li img{
    width:60px;
    height:60px;
    float:left;
    border:none;
}

ul li p{
    margin-left: 75px;
    font-weight: bold;
    padding-top: 12px;
    color:#6e7a7f;
}

.col-sm-4-navigation{
	background-color:white;
	padding:0%;
	width:35%;
	height: 100%;
	border-color: black;
	border-style:solid;
	border-width: 0.1em;
	align-content: left;
}


.col-sm-8{
    background-color: white;
    color:black;
    position:fixed;
}

.col-sm-2{
    background-color: steelblue;
    border-style: solid;
    border-width:1px;
    height:700px;

}

.row-top{
    background-color: red;
    border-style: solid;
    border-width:1px;
    color:white;
    border-bottom: black;
}


/*Main CSS*/



/*Home Page*/


#navigation {
    background: white;
    border-right: black;
    border-width: 3px;
}

#navigation {
    padding: 0;
}

.display-table {
    display: table;
    padding: 0;
    height: 100%;
    width: 100%;
}

.display-table-row {
    display: table-row;
    height: 100%;
}

.display-table-cell {
    display: table-cell;
    float: none;
    height: 100%;
}

.v-align {
    vertical-align: top;
}

.header-top {
    margin: 0;
    padding-top: 2px;
}

.header-top img {
    border-radius: 50%;
    max-width: 48px !important;
    width: 100%;
}


.header-rightside .nav > li > a:focus,
.header-rightside .nav > li > a:hover {
    background: none;
    text-decoration: none;
}



.header-top i {
    color: #0e1a35;
}

.icon-info {
    position: relative;
}
.navi i {
    font-size: 5px;
}
.label.label-primary {
    border-radius: 50%;
    font-size: 9px;
    left: 8px;
    position: absolute;
    top: -9px;
}

.icon-info .label {
    border: 2px solid #ffffff;
    font-weight: 500;
    padding: 3px 5px;
    text-align: center;
}

.header-top li {
    display: inline-block;
    text-align: center;
}

.header-top .dropdown-toggle {
    color: #0e1a35;
}

.header-top .dropdown-menu {
    border: medium none;
    left: -85px;
    padding: 17px;
}
.view {
    background: #5584ff none repeat scroll 0 0;
    border-radius: 100px;
    color: #ffffff;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    margin-top: 10px;
    padding: 10px 15px;
}

.navbar-content > span {
    font-size: 13px;
    font-weight: 700;
}

.img-responsive {
    width: 100%;
}
#navigation{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.search input {
    border: solid;
    border-width: 2px;
    font-size: 15px;
    padding: 15px 9px;
    width: 100%;
    background:white no-repeat scroll 99% 12px;
    color: darkblue;
}

header {
    background: whitesmoke none repeat scroll 0 0;
    box-shadow: 0 1px 12px whitesmoke;
    display: inline-block !important;
    line-height: 23px;
    padding: 15px;
    transition: all 0.5s ease 0s;
    width: 100%;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.logo {
    text-align: center;
}

.navi a {
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
    border-right: 1px solid grey;
    border-left: 1px solid grey;
    color: #ffffff;
    display: block;
    font-size: 17px;
    font-weight: 500;
    padding: 10px;
    text-decoration: none;
}

.navi i {
    margin-right: 5px;
    color: #5584ff;
}.navi i {
    margin-right: 5px;
    color: #5584ff;
}

.navi .active a {
    /* color when mouseover on the area */
    background: white;
    border-left: 5px solid;
    color:black;
}

.navi a:hover {
    background: whitesmoke none repeat scroll 0 0;
    border-left: 5px solid #5584ff;
    display: block;
    padding-left: 15px;
    color:black;
}



.hidden-xs{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}


.user-dashboard h1 {
    color: white;
    font-size: 30px;
    font-weight: 500;
    margin: 0;
    padding: 21px 0;
}



/* Style the images in the panel to adjust size */
.card-img-top {
    width: 33%;
    height: 33%;
    object-fit: contain;
}






@media only screen and (max-device-width: 992px) {
    header .header-top li {
        padding-left: 20px !important;
        padding-right: 0;
}
    header .logo img {
        max-width: 125px !important;
}

}

@media only screen and (min-device-width: 767px) and (max-device-width: 998px){
      .user-dashboard .header-top {
        padding-top: 5px;
}
    .user-dashboard .header-rightside {
        display: inline-block;
        float: left;
        width: 100%;
}
    .user-dashboard .header-rightside .header-top img {
        max-width: 41px !important;
} 
    .user-dashboard .sales button {
    font-size: 10px;
}
    .user-dashboard .btn.btn-secondary.btn-lg.dropdown-toggle > span {
    font-size: 12px;
}
    .user-dashboard .sales h2 {
    font-size: 15px;
}
}
@media only screen and (min-device-width:998px) and (max-device-width: 1350px){
        #navigation .logo img {
    max-width: 130px;
    padding: 16px 0 17px;
    width: 100%;
}
}