<!doctype html>
<html>
  <head>

   </head>
   <body ng-app='BiomaterialAtlas' ng-controller='FirstController'>
    <div class="container-fluid">
       <div class="ods-box" ng-init="tabselector = 'Home'">
            <div class='tabs'>
              <a class="tab" ng-click="tabselector = 'Home'" ng-class="{'activetab' : tabselector == 'Home'}">Home</a>
              <a class="tab" ng-click="tabselector = 'DataRepo'" ng-class="{'activetab' : tabselector == 'DataRepo'}">Data repository</a>
              <a class="tab" ng-click="tabselector = 'KnowledgeGraph'" ng-class="{'activetab' : tabselector == 'KnowledgeGraph'}">Biomaterials Atlas graph</a>
            </div>
        </div>
        <div class="ods-box">
          <div ng-if="tabselector == 'Home'">
            <div>
              <!-- Home content for the Biomaterial Atlas-->
              <home-welcome></home-welcome> 


            </div>
          </div>
          <div ng-if="tabselector == 'DataRepo'">
            <div>              <p></p>
            </div>
            <div class="row ">
              <!-- Area to define the data set panel on the left-->
                  <div class="col-md-2 col-sm-1 hidden-xs display-table-cell v-align box" id="navigation">
                      <div class="search hidden-xs hidden-sm">
                        <input type="text" placeholder="Search" id="search" ng-model='search'>
                      </div>
                      <div class="navi-data">
                          <ul ng-repeat="name in data">
                              <li class="active"><a href="#" ng-click="selectData()"><i class="fa fa-home" aria-hidden="true"></i><span class="hidden-xs hidden-sm">{{name.Description.Name}}</span></a></li>
                          </ul>
                      </div>
                  </div> 
                  <div class="col-md-10 col-sm-11 display-table-cell v-align">
                      <!--<button type="button" class="slide-toggle">Slide Toggle</button> -->
                      <div class="row" >
                              <div class="col-md-13" >
                                <div class="card" style="width: 100%;">
                                  <div class='card-body-description'>
                                    <app-info info='dataStudyDescription'></app-info>
                                </div>
                              </div>
                              </div>
                      <!-- end of the row for the study description-->                                                      
                      </div>
                      <div><p></p></div>
                      <div class="row">
                          <div class="col-md-4 col-sm-11 display-table-cell v-align">
                              <study-design info="dataStudyDesign"></study-design>
                          </div>
                          
                          <div class='col-md-8 col-sm-11 display-table-cell v-align'>
                                <study-info info='dataStudyResults'></study-info>
                                <span></span>
                                <show-images link='imagesToShow'></show-images>

                          </div>
                        </div>                   
                      
                  </div>
              </div>
            </div>
          </div>           <!-- End div for the datarepo tab-->

          <div ng-if="tabselector == 'KnowledgeGraph'">
              <h1>TEST environment</h1>
              <div class='.divgraph' id='plotareagraph'></div>
          </div>
        </div> <!-- this ends to odsbox-->
    
      </div> <!-- this ends the container fluid div-->
  

    

  <!--<script src='js/neo4j-js-driver/loadNeo4jData.js'></script> -->
  <!-- Modules-->
  <script src="js/angularjs/angular.js"></script>
  <script src="js/angularjs/angular-resource.js"></script>
  <script src='js/jquery/jquery.js'></script>
  <script src="js/bootstrap/bootstrap.bundle.js" ></script>
  <script src="js/d3js/d3.min.js"></script>
  <script src="js/d3barplot.js"></script>
  <script src="js/d3rankplot.js"></script>
 <!--  <script src='js/neo4j-js-driver/loadGraphNeoVis.js'></script> -->
  <!-- Controllers-->
  <script src='js/controllers/myApp.js'></script>
  <!-- Services-->
  <script src="js/factory/getData.js"></script>
  <script src="js/factory/d3Service.js"></script>
  <!-- directives -->
  <script src="js/directives/appInfo.js"></script>
  <script src="js/directives/datasetInfo.js"></script>
  <script src='js/directives/barPlot.js'></script>
  <script src='js/directives/imageInfo.js'></script>
  <script src='js/directives/showImages.js'></script>
  <script src='js/directives/studyDesign.js'></script>
  <script src='js/directives/studyInfo.js'></script>
  <script src='js/directives/homeWelcome.js'></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
  </body>
</html>

