<div class="row"  ng-repeat='image in info track by $index' ng-if="$index%3==0">
    <div class='column'>
        <h4>Image name: {{info[$index]}}</h4>     
        <img ng-src="images/TopoChipRawImages/{{info[$index]}}" style="height:300px;width:300px" />
    </div>
    <div class='column'>
        <h4>Image name: {{info[$index+1]}}</h4>     
        <img ng-src="images/TopoChipRawImages/{{info[$index+1]}}" style="height:300px;width:300px" />
    </div>
    <div class='column'>
            <h4>Image name: {{info[$index+2]}}</h4>     
            <img ng-src="images/TopoChipRawImages/{{info[$index+2]}}" style="height:300px;width:300px" />
    </div>
</div>

